@import "../../styles/variables";

.dropdown-wrapper {
  user-select: none;
  position: relative;
  width: 200px;
  height: 100%;

  .dropdown-header {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 38px;
    border: 1px solid $gray-border;
    border-radius: 3px;
    cursor: default;
    position: relative;
    background-color: white;
    padding: 0 5px;

    span {
      margin-right: 20px
    }
  }

  .dropdown-header-title {
    font-weight: 300;
  }

  .dropdown-list {
    z-index: 10;
    position: absolute;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
    font-weight: 300;
    padding: 15px 0;
    max-height: 215px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0;
  }

  .dropdown-list-item {
    font-size: 1.5rem;
    padding: 8px 10px;
    line-height: 1.6rem;
    cursor: default;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      color: white;
      background-color: $primary-color;
    }

    &.selected {
      color: $primary-color;
    }

    &.selected:hover {
      color: black;
    }
  }

}
