@import "../../styles/variables";

.tracks {

  .loading-animation {
    justify-content: center;
    display: flex;

  }

  .track {
    background: $silver-color;
    border: 1px solid $gray-border;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;


    .track-details {
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .track-artwork {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }

  .track:hover {
    .track-details {
      color: $primary-color;
    }
  }
}
