@import "../../styles/variables";

$input-border-radius: 4px;

.form-input {
  display: flex;
  width: 100%;
  justify-content: center;

  svg {
    height: 28px;
    width: 28px;
  }

  &.with-left-icon {
    input {
      border-radius: 0 $input-border-radius $input-border-radius 0;
      border-left: none;
    }
  }

  &.with-right-icon {
    input {
      border-radius: $input-border-radius 0 0 $input-border-radius;
      border-right: none;
    }
  }

  &.with-both-icons {
    input {
      border-radius: 0 !important;
      border-left: none !important;
      border-right: none !important;
    }
  }

  .left-icon {
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
    border: 1px solid $gray-border;
  }

  .right-icon {
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
    border: 1px solid $gray-border;
  }

  label {
    margin-right: 5px;
  }

  input {
    font-size: 15px;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: 1px solid $gray-border;
    width: 100%;
  }
}
