@import "../../styles/variables";

.loading-error {
  display: flex;
  justify-content: center;
  align-items: center;

  span.error {
    color: $error;
    display: block;
    text-align: center;
  }

  .refresh-action {
    display: flex;
    justify-content: center;
    padding: 20px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 4px;
      cursor: pointer;
    }

    span:hover {
      color: $primary-color;
    }
  }

}
