@import "../../styles/variables";

.cover {
  .logo-container {
    display: flex;
    justify-content: center;
    svg {
      width: 128px;
      height: 128px;
    }
  }
  margin: 0 0 50px 0;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(247,247,247);
  background: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(96,96,96,1) 66%, rgba(29,29,29,1) 100%);
  color: white;

  span {
    font-size: 40px;
    text-align: center;
    font-weight: 200;
    color: $primary-color;
  }
}
