body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-item {
  flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }

  .ReactModal__Content {
    width: 70% !important;
  }
}
@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }

  .ReactModal__Content {
    width: 100% !important;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(93, 93, 93, 0.92);
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.home-body {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
