@import "../../styles/variables";

.modal-track {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .track-info-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;


    .track-copyright {
      padding: 20px;
      text-align: center;
      border-bottom: 1px solid $gray-border;
    }

    & > span {
      padding: 10px 20px;

      a {
        text-decoration: none;
        color: $primary-color;
      }

      a:link {
        color: $primary-color;
        text-decoration: none;
      }

      /* visited link */
      a:visited {
        color: $primary-color;
        text-decoration: none;
      }

      /* mouse over link */
      a:hover {
        color: $primary-color;
        text-decoration: none;
      }

      /* selected link */
      a:active {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }


  .modal-artwork {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(218,105,255);
    background: radial-gradient(circle, rgba(218,105,255,1) 0%, rgba(184,136,255,1) 50%, rgba(114,198,255,1) 100%);
    padding: 20px 0;

    img {
      width: 50%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  padding: 10px;
  cursor: pointer;
}
